html, body{
    height: 100%;
}

:root{
    --primaryColor: aqua;
    --secondaryColor: rgb(32, 184, 176); 
    --tertiaryColor: #666;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--primaryColor);
}

.go-back-button{
    width: 4em;
    position: absolute;
    
    left: 0;
    animation: showGoBackButton 1s;
    transition: all .5s;
}

@keyframes showGoBackButton {
    from{left: -100%;}
}

.go-back-button:hover{
    cursor: pointer;
    left: -.5%;
}


.turn{
    color: #fefefe;

    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    font-size: 3em;

    animation: showTurnText 1s;
    animation-timing-function: ease-out;
}

@keyframes showTurnText {
    from{top: -100%;}
    to{top: 0;}
}

.board{
    display: grid;

    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    grid-template: auto auto auto / auto auto auto;

    justify-content: center;
    align-content: center;
    gap: .5em;
}

.square{
    height: 5em;
    width: 5em;

    position: relative;
}

.board-horizontal-line{
    background-color: var(--secondaryColor);
    height: 13%;
    width: 320%;
    position: absolute;

    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.board-horizontal-line-animation{
    animation: grow-board-horizontal-line 1s;
}

@keyframes grow-board-horizontal-line {
    from{width: 0}
}

.board-vertical-line{
    background-color: var(--secondaryColor);
    height: 320%;
    width: 13%;
    position: absolute;

    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.board-vertical-line-animation{
    animation: grow-board-vertical-line 1s;
}

@keyframes grow-board-vertical-line {
    from{height: 0;}
}

.winner-horizontal-line{
    background-color: var(--tertiaryColor);
    width: 320%;
    height: 13%;

    position: absolute;
    z-index: 1;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: growX .5s;
}

@keyframes growX {
    from{width: 0%};
}


.winner-vertical-line{
    background-color: var(--tertiaryColor);
    width: 13%;
    height: 320%;

    position: absolute;
    z-index: 1;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: growY .5s;
}

@keyframes growY {
    from{height: 0%};
}

.winner-diagonal-line{
    background-color: var(--tertiaryColor);
    width: 13%;
    height: 430%;

    position: absolute;
    z-index: 1;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    animation: growDiagonal .5s;
}

@keyframes growDiagonal {
    from{height: 0;}
}

/* Making the players */
.x{
    background-color: var(--tertiaryColor);
    width: 5rem;
    height: 0.5rem;
    
    position: absolute;
    top: 50%;
    left: 50%;
    animation: showX .1s;
}

@keyframes showX {
    from{width: 0;}
}

.x1{
    transform: translate(-50%, -50%) rotate(45deg);
}

.x2{
    transform: translate(-50%, -50%) rotate(-45deg) ;
}


.o{
    width: 3rem;
    height: 3rem;
    border: 0.5rem solid white;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    animation: showO .2s;
}

@keyframes showO {
    from{transform: translate(-50%, -50%) scale(1.5)};
}

footer{
    background-color: #fefefe;
    color: var(--primaryColor);

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em 0;

    font-size: x-large;
    font-weight: bolder;
    text-align: center;

    transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
    animation: showFooter .5s;
}

@keyframes showFooter {
    from{transform: scale(0)};
}

footer:hover{
    background-color: var(--secondaryColor);
    color: white;
    cursor: pointer;
}

.fade{
    animation: fade 1s;
    background-color: rgba(0, 0, 0, .5);
}

@keyframes fade {
    from{background-color: var(--primaryColor)};
}

/** General class  */
.no-select{
    -ms-touch-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.white{
    background-color: #fefefe;
}

.black{
    background-color: #666;
}