html, body{
    height: 100%;
}

body{
    margin: 0;
    background-color: aqua;
}

:root{
    --boardLineColor: rgb(32, 184, 176); 
}

.board{
    height: 300px;
    display: grid;

    grid-template: auto auto auto / auto auto auto;
    grid-template-areas: "a1 a2 a3"
                         "a4 a5 a6"
                         "a7 a8 a9";

    justify-content: center;
    align-content: center;
    gap: 10px
}

.square{

    height: 5em;
    width: 5em;

    position: relative;

}

#s1 {
    grid-area: a1;
}

#s2 {
    grid-area: a2;
}

#s3 {
    grid-area: a3;
}

#s4 {
    grid-area: a4;
}

#s5 {
    grid-area: a5;
}

#s6 {
    grid-area: a6;
}

#s7 {
    grid-area: a7;
}

#s8 {
    grid-area: a8;
}

#s9 {
    grid-area: a9;
}

.horizontal-line{
    background-color: var(--boardLineColor);
    height: 10px;
    width: 260px;
    position: absolute;

    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.vertical-line{
    background-color: var(--boardLineColor);
    height: 260px;
    width: 10px;
    position: absolute;

    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}


/* Making the players */
.x{
    background-color: #666;
    width: 5rem;
    height: 0.5rem;
    
    position: absolute;
    top: 50%;
    left: 50%;
}

.x1{
    transform: translate(-50%, -50%) rotate(45deg);
}

.x2{
    transform: translate(-50%, -50%) rotate(-45deg) ;
}


.o{
    width: 3rem;
    height: 3rem;
    border: 0.5rem solid white;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}